{% extends 'administradores/index.html' %}

{% load static %}
{% load django_browser_reload %}
{% django_browser_reload_script %}

{% block title %}Acerca del Usuario{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Perfil del Usuario</h2>
            </div>
            <div class="card-body">
                <h5>Foto de perfil: </h5>
                <h5>Usuario: </h5>
                <h5>Nombre: </h5>
                <h5>Correo Electrónico: </h5>
                <h5>Fecha de Creación: </h5>
                <h5>Fecha de Actualización: </h5>
                <h5>Rol: </h5>
                <h5>Estado: </h5>
                <br>
                <div class="d-flex justify-content-end">
                    <div class="mx-1">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarDatos">Editar Perfil</button>
                    </div>
                    <div class="mx-1">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarUsuario">Eliminar Perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar los datos -->
    <div class="modal fade" id="editarDatos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form action="" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualizar Perfil</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label fsor="inputPassword5" class="form-label">Usuario</label>
                        <input name="username" class="form-control" value="" type="text" placeholder="Usuario" aria-label="default input example" disabled>
                        <label for="inputPassword5" class="form-label">Nombre</label>
                        <input name="name" class="form-control" value="" type="text" placeholder="Nombre" aria-label="default input example">
                        <label for="inputPassword5" class="form-label">Correo</label>
                        <input name="password" class="form-control" value="" type="text" placeholder="Email" aria-label="default input example">
                        <label for="inputPassword5" class="form-label">Contraseña</label>
                        <input name="email" class="form-control" value="password" type="text" placeholder="Nueva contraseña" aria-label="default input example">
                        <label for="inputPassword5" class="form-label">Rol</label>
                        <input name="rol" class="form-control" value="Administrador" type="text" aria-label="default input example" disabled>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Actualizar Datos</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal para eliminar los datos -->
    <div class="modal fade" id="eliminarUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form action="" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Advertencia!!!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Esta seguro de eliminar estos datos. Una vez realizado, ya no se podran restablecer.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger btn-azul" data-bs-toggle="modal" data-bs-target="#eliminarUsuario">Eliminar Datos</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}